#timer-counterdown {
    width: 7.5rem;
    height: 7.5rem;

    position: relative;
    display: grid;
    place-items: center;
    inset: 0;

    svg {

        .timer-countdown__svg__circle {
            stroke: var(--purple-50);
            stroke-width: 0.25rem;
            fill: none;
        }

        .timer-countdown__svg__value {
            stroke: var(--purple-500);
            stroke-width: 0.40rem;
            fill: none;
            stroke-linecap: round;
            rotate: -90deg;
            transform-origin: 60px 60px;
        }
    }

    .timer-countdown__counter {
        position: absolute;
        
        width: stretch;
        height: stretch;

        display: flex;
        align-items: center;
        justify-content: center;

    }
}