@import "./routes.css";

:root {
  --white: #fff;
  --bg: var(--white);

  --purple-50: #ece4ff;
  --purple-500: #2200a6;

  --pink-50: #fde2ff;
  --pink-100: #fed6ff;
  --pink-200: #f0a2ef;

  /* New Colors */
  --black: #1a1a19;
  --black-90: #18181b;
  /* text */
  --black-80: #2f2f37;
  --black-70: #474752;
  --black-60: #5e5e6e;
  --black-50: #767689;
  --black-40: #9191a1;
  --black-30: #adadb8;
  --black-20: #c8c8d0;
  --black-10: #e4e4e7;
  --black-5: #f1f1f3;
  /* background */

  --red-60: #e11e35;
  --red-55: #e43549;
  /* aux */
  --red-50: #e74b5d;
  --red-45: #ea6271;
  /* aux */
  --red-40: #ed7886;

  --green-60: #39604a;
  --green-55: #437056;
  /* aux */
  --green-50: #4c8062;
  --green-45: #56906e;
  /* aux */
  --green-40: #5fa07b;

  --sans: "Rubik", sans-serif;
  --heading: "Rubik", sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 1rem/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --white: #fff;
    --bg: #16171d;

    --purple-50: #201b2b;
    --purple-500: #637af6;

    --pink-50: #fbe4fc;
    --pink-100: #fad8fb;
    --pink-200: #eaa7e8;
  }
}

#root {
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--black-90);

  h1 {
    font-size: 5.61em;
    line-height: 1;
    margin: 0;
  }

  h2 {
    font-size: 4.209em;
    line-height: 1;
    margin: 0;
  }

  h3 {
    font-size: 3.158em;
    line-height: 1;
    margin: 0;
  }

  h4 {
    font-size: 2.369em;
    line-height: 1;
    margin: 0;
  }

  h5 {
    font-size: 1.777em;
    line-height: 1;
    margin: 0;
  }

  h6 {
    font-size: 1.333em;
    line-height: 1;
    margin: 0;
  }

  p, strong {
    font-size: 1em;
    line-height: 1;
    margin: 0;
  }

  small {
    font-size: 0.75em;
    font-weight: 400;
    line-height: 1;
    margin: 0;
  }

  strong {
    font-weight: 600;
  }

  header,
  main {
    padding: 1.5rem 1.5rem;
    width: stretch;
    overflow: hidden;
  }

  header {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  main {
    height: calc(100dvh - (2.5rem + 1.5rem + 1.5rem));
  }

  button,
  a {
    font-size: 1em;
    line-height: 1;
  }

  ul {
    padding: 0;
    margin: 0;

    li {
      list-style: none;
    }
  }

  /* delete*/

  .info-card {
    width: stretch;
    margin: 0 5vw;

    color: var(--white);

    &>div:first-of-type {
      display: flex;
      flex-direction: column;
      background-color: var(--purple-500);

      position: relative;

      border-radius: 1rem;
      padding: 1.75rem 3.75rem;

      overflow: hidden;

      &::after,
      &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;

        background-color: var(--purple-500);
        filter: brightness(5);
        opacity: 0.2;
        border-radius: 100%;
      }

      &::after {
        width: 250px;
        height: 250px;
        top: 3rem;
        right: -3rem;
      }

      &::before {
        width: 150px;
        height: 150px;
        top: -3rem;
        right: -3rem;
      }
    }
  }

  .quiz-card {
    width: stretch;
    min-height: 1.25rem;

    padding: 1rem 2rem;
    overflow: hidden;

    display: flex;
    gap: 1.25rem;
    align-items: center;

    border-radius: 1rem;

    p {
      margin: 0;
    }

    &.quiz-card--pink {
      background-color: var(--pink-50);
    }

    &.quiz-card--purple {
      background-color: var(--white);
      border: 2px solid var(--purple-500);

      transition: all 0.2s ease-in;

      input[type="radio"] {
        visibility: hidden;
      }

      &:has(input[aria-checked="true"]),
      &.quiz-card--purple--checked {
        background-color: var(--purple-50);
        border-color: transparent;

        &>.quiz-card__option {
          background-color: var(--purple-500);
          color: var(--white);
        }
      }

      &>.quiz-card__option {
        background-color: var(--purple-50);
        color: var(--purple-500);
      }
    }

    &.quiz-card--70 {
      width: 70%;
      margin: 0 auto;
    }

    &>.quiz-card__option {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 1.25rem;
      height: 1.25rem;

      font-size: 0.8rem;
      font-weight: 600;
      line-height: 0.8;

      border-radius: 100%;
    }
  }
}

@media (min-width: 1024px) {
  #root {

    header,
    main {
      padding: 1.25rem 5rem;
    }

    header {
      height: 3rem;
    }

    main {
      height: calc(100vh - (3rem + 1.25rem + 1.25rem));
    }
  }
}