#init {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;

  height: 100vh;
  overflow: hidden;

  .score-pill {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    min-width: 7.5rem;

    padding: 0.5rem 1.25rem;
    margin-left: auto;

    border-radius: 0.5rem 0 0 0.5rem;
    background-color: var(--purple-50);

    &>svg {
      stroke: var(--pink-200);
    }
  }
}

#not-found {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  article {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 0.5fr;
    grid-template-rows: 1fr 0.25fr;
    justify-items: stretch;
    gap: 1.25rem;

    width: fit-content;
    height: fit-content;

    .not-found__text {
      p {
        margin-left: auto;
        color: var(--pink-200);
        max-width: 75%;

        &:before {
          content: "";
          display: block;
          width: 100%;
          height: 6px;
          margin-top: 0.5rem;

          background-color: var(--pink-200);
          border-radius: 3px;
        }

      }

      h1 {
        font-size: 250px;
        line-height: 250px;
        margin: 0 2rem 0 0;
      }
    }
  }
}

#quiz,
#loader {
  min-height: calc(100vh - 4rem);
  padding: 2rem 5vw;

  .quiz__template-header {
    display: grid;
    align-items: stretch;
    grid-template-columns: 1fr 7.5rem;
    grid-template-rows: 7.5rem 1.3rem;
    justify-items: stretch;
    gap: 1rem;

    margin-bottom: 2rem;

    h3>span {
      color: var(--pink-200);
    }

    .quiz__template-header__progress-bar {
      width: 100%;
      border-radius: 0.25rem;

      grid-column: 1 / -1;

      position: relative;

      div,
      progress {
        height: 0.25rem;
        border-radius: 0.25rem;
      }

      div {
        position: absolute;
        bottom: 0;
        /* bottom: 0.40rem; */

        background: var(--purple-500);
        outline: 1px solid var(--purple-500);
      }

      progress {
        width: 100%;

        &::-webkit-progress-bar {
          background-color: var(--purple-50);
          border-radius: 0.25rem;
        }

        &::-webkit-progress-value {
          background-color: transparent;
        }
      }
    }


  }

  .quiz__template-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2.5rem;

    position: relative;

    & .quiz__template-content__list {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }

    & .button--variant-solid--purple {
      margin-left: auto;
    }
  }
}

#loader {
  .quiz-card--pink {
    background: linear-gradient(90deg, var(--pink-100) 25%, #FDE2FF4D 50%, var(--pink-100) 75%);
    background-size: 200% 100%;
  }

  .quiz-card--purple {
    background: linear-gradient(90deg, var(--purple-50) 25%, #ECE4FF4D 50%, var(--purple-50) 75%);
    background-size: 200% 100%;
    border-color: transparent !important;
  }
}