#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--size-42);

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--size-42) var(--size-16);
        align-items: stretch;
        justify-content: stretch;


        button {
            grid-column: 2 / -1;
            justify-self: end;
        }
    }


}