#header {
  .sidebar-item__trigger {
    padding-inline: 0;
  }

  .score-pill {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--red-50);

    svg {
      fill: var(--red-50);
    }
  }

  .sidebar-item__header {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    color: var(--black-90);
  }

  button {
    color: var(--red-50)
  }
}